textarea {
  border: 1px solid beige;
}
.card {
  background-color: aliceblue;
  color: black;
}
.card-body{
  color: black;
  padding: 0 25px;
}

.img-thumbnail{
  margin: 30px;
  width: 85%;
  height: 85%;
}

.card-footer {
  padding: 10px 15px;
}
